<div class="grid-container">
    <div class="prop top">
        <span>Category: <strong>{{textMaterial?.categoryTitle}}</strong></span>
        <span><button><mat-icon>print</mat-icon></button></span>
    </div>
    <div class="prop title">
        <span>Title: <strong>{{textMaterial?.title}}</strong></span>
    </div>
    <div class="prop content" [innerHTML]="textMaterial?.content"></div>
    <div class="prop bottom">
        <span class="author">Author: <strong>{{textMaterial?.userName}}</strong></span>
        <span class="date"><strong>{{textMaterial?.datePublished | date: 'MMM, d, y'}}</strong></span>
    </div>
    <div class="btn-approve" *ngIf="isManager && loadedStatus && textMaterial?.approvalStatusId == 0">
        <button (click)="approveTextMaterial()">Approve this text material</button>
        <button (click)="rejectTextMaterial()">Reject this text material</button>
    </div>
</div>
