.grid-container {
    display: grid;
    padding: 1%;
    margin-top: 11%;
    font-size: 1.1em;
    color: #000;
    background-color: #FFF;
}

.print-icon {
    padding: 5%;
}

.prop {
    margin-top: 1%;
    padding: .5%;
}

.top {
    display: flex;
    justify-content: space-between;
}

.content {
    margin: 3% 0;
    background-color: #FFF;
    color: #000;
}

.bottom {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.bottom .author {
    grid-column: 1/2;
}

.bottom .date {
    grid-column: 3/4;
}

.btn-approve {
    text-align: center;
}

.btn-approve>button {
    width: 40%;
    padding: 0;
    margin-right: 2%;
    background-color: rgb(55, 55, 205);
    color: #FFF;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 601px) {
    .grid-container {
        margin-top: 3%;
        font-size: 1.5em;
    }
    .bottom {
        grid-template-columns: 25% 50% 25%;
    }
    .btn-approve>button {
        padding: 1%;
    }
}
