<form (ngSubmit)="sendTextMaterialAsPdf()" [formGroup]="paramsForm">
    <div class="grid-container">
        <p>Choose the parameters you'd like to see in your generated pdf file</p>
        <div class="option">
            <label>
            Title: <input type="checkbox" formControlName="title">
          </label>
        </div>
        <div class="option">
            <label>
            Category: <input type="checkbox" formControlName="category">
          </label>
        </div>
        <div class="option">
            <label>
            Author: <input type="checkbox" formControlName="author">
          </label>
        </div>
        <div class="option">
            <label>
            Date published: <input type="checkbox" formControlName="datePublished">
          </label>
        </div>
        <button class="submit-btn" type="submit">Send</button>
    </div>
</form>
