.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1%;
}

.buttons>button {
    padding: 1%;
    margin: 0 1%;
    background-color: rgb(55, 55, 205);
    color: #FFF;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
}